/node_modules/
/DRAFT/
/coverage/
/scripts/
/nodemon*.json
.editorconfig
.gitignore
.prettierrc
/src/
.idea/
jest.config.js
/docker
/helm
/.circleci
.dockerignore
/src
/.*
/tsconfig.docs.json
/additional-documentation/
/example
/Dockerfile
/docker-compose.yml
