/node_modules/
/DRAFT/
/coverage/
/scripts/
/nodemon*.json
.editorconfig
.gitignore
.prettierrc
/src/
.idea/
jest.config.js
/docker
/helm
/.circleci
.dockerignore

# /config only used on dev, for sa-common-logger's sake
/config
